<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  rel="stylesheet" href = "./styles.css"></link>
</head>
<body>
    <h1> TODO List</h1>

    <form action = "/" method = "post" class = "form-container"/>
        <input class = "text-box " type ="text" name = "newTodo"/>
        <button class = "submit" type = "submit " value = "Add new todo"/>Todo</button>

    </form>

    <form action = "/{{listItem}}" method = "post">
       {{#todoList}}{{^complete}}
            <div class="item-container">
            <span class = "not-complete-button" ><button  class="complete" type="submit" name="Completed">Complete</button></span><p class="not-complete-item">{{listItem}}</p>
            </div>{{/complete}}
        </form>
           
               <div class="completed">
                {{#todoList}}
                {{#complete}}
                {{/complete}}
                {{/todoList}}

               </div>
            <span><strike><p></p></strike></span>
           

{{/todoList}}
  


      
    
</body>
</html>